{% extends 'base.html' %}
{% from 'pagination.html' import render_pagination %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses Index</title>
</head>
<body>
    <h1>Courses</h1>
    <nav>
        <ul>
            <li><a href="{{ url_for('courses.add_building') }}">Add Building</a></li>
            <li><a href="{{ url_for('courses.add_room') }}">Add Room</a></li>
            <li><a href="{{ url_for('courses.calculate') }}">Calculate Room Areas</a></li>
        </ul>
    </nav>
    <h2>Добро пожаловать в аудиторный фонд!!</h2>
</body>
</html>
{% endblock %}